---
export const prerender = false;

import { marked } from 'marked';
import { changelogs } from '@/src/libs/milo';
import { truncate, removeHeaderTags, stripTags } from '@libs/string';
import Bullet from '@v1/assets/icons/bullet.svg';
import type { ChangelogProps } from '@/src/libs/milo';

interface Props {
  limit?: number;
}

const { limit } = Astro.props;

const changelog = await changelogs();
const displayChangelog = limit ? changelog.slice(0, limit) : changelog;
---

{
  Array.prototype.map.call(displayChangelog, (log: ChangelogProps) => (
    <li class="display-card--item">
      <div class="display-card--item-meta item-neta--timeline">
        <Bullet class={limit ? 'text-aurora-moss' : 'text-canyon-clay'} />
      </div>
      <div class={limit ? 'display-card--item-content text-white' : 'display-card--item-content '}>
        <h4>{log.title}</h4>
        <div
          set:html={stripTags(removeHeaderTags(marked.parse(log.body))).then((text) =>
            truncate(text, 200)
          )}
        />
      </div>
    </li>
  ))
}
