<div class="roadmap-card">
  <div class="roadmap-card--content">
    <div class="roadmap-card--info-section">
      <div class="roadmap-card--text-content">
        <div class="roadmap-card--title">
          <div class="mb-2.5 h-7 max-w-[200px] animate-pulse rounded-full bg-gray-300"></div>
        </div>

        <div class="roadmap-card--description">
          <div class="mb-2.5 h-5 max-w-90 animate-pulse rounded-full bg-gray-300"></div>
          <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-300"></div>
          <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-300"></div>
          <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-300"></div>
        </div>
      </div>
    </div>
  </div>
</div>
