@layer components {
  /* Section Block */
  .section--block {
    @apply relative overflow-hidden;
    @apply px-6 md:px-16;

    &.dark {
      @apply text-white;

      .section--block-content-text {
        @apply text-white/80;
      }
    }

    &.section--block--pad {
      @apply py-15 md:py-28 lg:py-42;
    }

    &.section--block--small-pad {
      @apply py-15 md:py-20 lg:py-29;
    }

    &.section--block--big-pad {
      @apply pt-15 pb-13 md:pt-28 md:pb-25 lg:pt-60 lg:pb-53;
    }
  }

  .section--block-illustration {
    @apply absolute bottom-0 left-0 z-0 flex h-full w-auto items-end;
  }

  .section--block-inner {
    @apply m-auto max-w-391;
  }

  .section--block-content {
    @apply relative z-10 flex justify-start;

    .section--block-content-inner {
      @apply flex flex-col gap-6 md:gap-10;
    }
  }

  .section--block-content-text {
    @apply font-alliance prose prose-xl md:text-19 text-navy/80 text-22 prose-a:hover:no-underline max-w-none leading-[1.45];
  }

  .h2-section {
    @apply font-canela text-2xl leading-[1.1] font-normal -tracking-[1.5px] md:text-3xl lg:text-4xl;
  }

  .nav-logo {
    @apply flex items-center gap-2;

    --color-logo-object: var(--color-lime-green);
    --color-logo-text: var(--color-white);

    svg {
      @apply w-17 md:w-21.5;
    }
  }

  /* Footer Components */
  .footer {
    @apply bg-dark-navy-blue relative text-white;
  }

  .footer-hero {
    @apply bg-cream text-navy relative z-10 mx-auto px-6 pt-21 md:px-16 md:pt-35 lg:pt-53;
  }

  .footer-hero-content {
    @apply text-center;
  }

  .footer-hero-actions {
    @apply flex items-center justify-center gap-7;
  }

  .footer-illustration-container {
    @apply relative;
  }

  .footer-illustration-image {
    @apply h-auto w-full;
  }

  .footer-main {
    @apply relative z-10 mx-auto px-6 py-16 md:px-30 md:py-25 lg:px-45 lg:py-34;
  }

  .footer-grid {
    @apply grid grid-cols-1 gap-12 md:grid-cols-6 lg:grid-cols-12;
  }

  .footer-logo-section {
    @apply col-span-6 lg:col-span-3;
  }

  .footer-logo-link {
    @apply mb-8 flex items-center;
  }

  .footer-actions-section {
    @apply col-span-6 mt-5 flex flex-col items-center gap-6 md:col-span-2 md:mt-0 md:items-end lg:col-span-2;
  }

  .footer-copyright {
    @apply text-xsm text-center text-white/40 md:text-right;

    .footer-nav-link {
      @apply text-white/40 transition-colors hover:text-white;
    }
  }

  .footer-signup {
    @apply bg-light-pink text-navy px-6 py-16;
  }

  .footer-signup-container {
    @apply mx-auto flex max-w-227 flex-col items-center gap-0 py-2 md:flex-row md:gap-20;
  }

  .footer-signup-form-container {
    @apply w-full max-w-[317px] grow md:w-auto md:max-w-none;
  }

  .footer-signup-form {
    @apply border-navy flex items-center border-b pb-2;
  }

  .footer-signup-input {
    @apply text-navy placeholder-navy/60 font-alliance flex-1 bg-transparent text-lg font-semibold outline-none;
  }

  .footer-signup-button {
    @apply ml-4;
  }

  /* Generic Button Components */
  .btn {
    @apply inline-flex items-center gap-3 rounded-md border px-7 py-3.5 text-base leading-[1.4] font-semibold tracking-normal whitespace-nowrap text-white no-underline! transition hover:cursor-pointer;

    .btn-icon {
      @apply text-light-pink;
    }
  }

  .btn--primary {
    @apply border-white/20 hover:bg-white/10;
  }

  .btn--secondary {
    @apply border-gray-300/20 hover:bg-gray-300/10;
  }

  /* Button Color Variations */
  .btn--lime {
    @apply bg-lime-green text-navy hover:bg-lime-green/80 border-lime-green;
  }

  .btn--cream {
    @apply bg-cream text-navy border-navy hover:bg-navy/10;
  }

  .btn--alpha {
    @apply text-navy border-navy hover:bg-tuscany/10 bg-none;
  }

  .btn--white {
    @apply text-navy border-white bg-white hover:bg-white/90;
  }

  .btn--navy {
    @apply bg-navy/90 hover:bg-navy/80 border-navy text-white;
  }

  .btn--navy-alpha {
    @apply bg-navy/90 border-white/20 text-white hover:bg-white/10;
  }

  .btn--outline {
    @apply border-white/20 bg-transparent text-white hover:bg-white/10;
  }

  .btn--xl {
    @apply text-base leading-relaxed md:text-lg;
  }

  .btn--2xl {
    @apply md:text-19 text-lg leading-[1.9];
  }

  .btn--large {
    @apply text-19 py-4 text-base leading-normal;
  }

  .btn--center {
    @apply w-full justify-center;
  }

  .btn--medium {
    @apply text-sm leading-relaxed font-medium;
  }

  .btn--small {
    @apply text-xs leading-relaxed font-medium;
  }

  .btn-icon {
    @apply flex h-5 w-5 items-center justify-center;
  }

  .btn-text {
    @apply text-base leading-relaxed font-semibold tracking-tight;
  }

  /* List Styles */
  .ordered-list {
    @apply font-canela flex list-none flex-col gap-5 text-[20px] leading-[1.1] -tracking-[0.5px] md:gap-8 md:text-3xl;
    counter-reset: ordered-counter;
  }

  .ordered-list--sans {
    @apply font-alliance lg:text-22 text-base md:text-lg;
  }

  .ordered-list li {
    @apply text-navy flex items-center gap-6 md:gap-10;
    counter-increment: ordered-counter;
  }

  .ordered-list li::before {
    @apply font-frontliner text-mauve text-xsm lg:text-22 w-5.25 leading-relaxed font-light tracking-widest md:w-7.5 md:text-xl;
    content: '0' counter(ordered-counter) '.';
  }

  .ordered-list span {
    @apply font-frontliner text-mauve text-xl leading-relaxed font-light tracking-widest;
  }

  /* Font Styles */
  .h1-leading {
    @apply font-canela text-navy tracking-1 mb-17.5 text-4xl leading-[1.1] text-balance md:text-5xl lg:text-6xl;
  }

  .h2-leading {
    @apply font-canela text-navy tracking-1 mb-8 text-3xl leading-[1.1] text-balance md:mb-10 md:text-5xl lg:text-6xl;
  }

  .h3-leading {
    @apply font-canela text-navy text-22 lg:text-46 tracking-1 mb-14 leading-[1.1] text-balance md:text-3xl;
  }

  .h4-leading {
    @apply font-canela text-navy text-28 lg:text-46 tracking-1 mb-8 leading-[1.1] text-balance md:text-4xl;
  }

  .text-desc {
    @apply font-alliance text-navy md:text-19 text-xl leading-[1.4];
  }

  /* Generic Logo/Brand Grid Components */
  .logo-grid {
    @apply border-navy grid overflow-x-auto border border-t-0;
  }

  .logo-grid--3-6 {
    @apply grid-cols-3 lg:grid-cols-6 [&>div:nth-child(2n)]:border-r-0 lg:[&>div:nth-child(3)]:border-r-1! [&>div:nth-child(3n)]:border-r-0;
  }

  .logo-grid--2-3 {
    @apply grid-cols-2 md:grid-cols-3 lg:grid-cols-6;
  }

  .logo-grid--4 {
    @apply grid-cols-2 md:grid-cols-4;
  }

  .logo-item {
    @apply border-navy flex items-center justify-center border-t border-r last:border-r-0;
  }

  .logo-item--landscape {
    @apply aspect-26/19;
  }

  .logo-item--square {
    @apply aspect-square;
  }

  .logo-item--tall {
    @apply h-48;
  }

  .logo-item--padding-sm {
    @apply p-4;
  }

  .logo-item--padding-md {
    @apply p-6 md:p-8;
  }

  .logo-item--padding-lg {
    @apply p-8 md:p-10;
  }

  /* Logo Image Variants */
  .logo-img {
    @apply object-contain;
  }

  .logo-img--standard {
    @apply mx-10 w-3/5;
  }

  .logo-img--contained {
    @apply max-h-16 max-w-full;
  }

  .logo-img--full {
    @apply h-full w-full;
  }

  .logo-img--medium {
    @apply w-2/3;
  }

  .article-navigation {
    @apply m-auto mt-16 flex max-w-4xl flex-col gap-4 md:flex-row;
  }

  .article-navigation-item {
    @apply border-green-dark hover:bg-green-dark/5 rounded-lg border p-8;
  }

  .article-navigation-prev {
    @apply w-full justify-start;

    .article-navigation-label {
      @apply justify-start;
    }
  }

  .article-navigation-next {
    @apply w-full justify-end text-right;

    .article-navigation-label {
      @apply justify-end;
    }
  }

  .article-navigation-label {
    @apply font-alliance text-green-dark mb-4 flex items-center gap-2 text-sm font-medium tracking-wide uppercase;
  }

  .article-navigation-title {
    @apply font-alliance text-green-dark hover:text-mauve text-lg font-medium transition-colors;
  }
}
