:root,
:host {
  /* Main Colors */
  --color-white: #ffffff;
  --color-navy: #0c1d31;
  --color-cream: #f6f6f5;
  --color-light-gray: #e8e7e4;
  --color-lime-green: #e6f59f;
  --color-dark-navy-blue: #111e34;
  --color-light-pink: #ecd0d0;
  --color-mauve: #91757b;
  --color-navy-muted: #14233d;
  --color-orange: #ff6b35;
  --color-tuscany: #c49d9d;
  --color-indigo: #2d3948;
  --color-pearl-gray: #efefed;
  --color-green-dark: #4d6356;

  --color-borderpanellight: #d0d0ca;
  --color-borderpaneldark: #313066;

  --color-dark-body: #111a29;

  --sl-label-icon-size: 18px;

  /* Color Datum */
  --sl-color-text-accent: #bf9595;

  /* Font Families */
  --font-primary:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-canela: 'Canela Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-alliance:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-frontliner:
    'Frontliner', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
