@theme {
  /* Custom Breakpoints */
  --breakpoint-2-5xl: 110rem;
  --breakpoint-3xl: 120rem;

  /* Custom width */
  --datum-max-width: 1796px; /* 449rem */
  --datum-section-width: 1565px;

  --color-logo-object: #e8e7e4;
  --color-logo-text: #ffffff;

  /* COLOR PALETTE */
  --color-midnight-fjord: #0c1d31;
  --color-mauve: #91757b;
  --color-aurora-moss: #e6f59f;
  --color-blush-quartz: #ecd0d0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-canyon-clay: #bf9595;
  --color-pine-forge: #4d6356;
  --color-cultured: #f5f5f3;
  --color-glacier-mist-700: #f6f6f5;
  --color-glacier-mist-800: #efefed;
  --color-glacier-mist-900: #e8e7e4;
  --color-potted-olive: #adbab0;
  --color-canyon-clay-links: #9c7979;
  --color-app-dark-utility-1: #223143;
  --color-app-dark-utility-2: #384555;
  --color-app-dark-utility-3: #67717c;
  --color-app-dark-utility-4: #90969c;
  --color-app-dark-utility-5: #e3e2df;

  /* Font Sizes */
  --text-42: 42px;
  --text-13: 13px;
  --text-15: 15px;
  --text-17: 17px;
  --text-19: 19px;
  --text-22: 22px;
  --text-28: 28px;
  --text-38: 38px;
  --text-40: 40px;
  --text-44: 44px;
  --text-46: 46px;
  --text-54: 54px;
  --text-60: 60px;
  --text-72: 72px;

  /* letter-spacing */
  --tracking-1: -1.5px;

  /* Font Families */
  --font-primary:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-canela: 'Canela Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-alliance:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-frontliner:
    'Frontliner', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
