@theme {
  /* Custom Breakpoints */
  --breakpoint-2-5xl: 110rem;
  --breakpoint-3xl: 120rem;

  /* Custom width */
  --datum-max-width: 1926px;
  --datum-section-width: 1565px;

  --color-logo-object: #e8e7e4;
  --color-logo-text: #ffffff;

  /* Main Colors */
  --color-white: #ffffff;
  --color-navy: #0c1d31;
  --color-cream: #f6f6f5;
  --color-light-gray: #e8e7e4;
  --color-lime-green: #e6f59f;
  --color-dark-navy-blue: #111e34;
  --color-light-pink: #ecd0d0;
  --color-mauve: #91757b;
  --color-navy-muted: #14233d;
  --color-orange: #ff6b35;
  --color-tuscany: #c49d9d;
  --color-indigo: #2d3948;
  --color-pearl-gray: #efefed;
  --color-green-dark: #4d6356;
  --color-navy-blue: #2c3e50;

  /* Brand Color Palette - Datum Design System */
  /* Midnight Fjord */
  --color-midnight-fjord-900: #0c1d31;

  /* Aurora Moss */
  --color-aurora-moss-900: #e6f59f;

  /* Blush Quartz */
  --color-blush-quartz-900: #ecd0d0;

  /* Canyon Clay */
  --color-canyon-clay-900: #bf9595;

  /* Pine Forge */
  --color-pine-forge-900: #4d6356;

  /* Glacier Mist */
  --color-glacier-mist-900: #e8e7e4;
  --color-glacier-mist-800: #efefed;
  --color-glacier-mist-700: #f6f6f5;

  /* Font Sizes */
  --font-size-h1: 42px;
  --text-xsm: 13px;
  --text-smb: 15px;
  --text-17: 17px;
  --text-19: 19px;
  --text-22: 22px;
  --text-28: 28px;
  --text-38: 38px;
  --text-40: 40px;
  --text-46: 46px;
  --text-54: 54px;
  --text-60: 60px;
  --text-72: 72px;

  /* letter-spacing */
  --tracking-1: -1.5px;

  /* Font Families */
  --font-primary:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-canela: 'Canela Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-alliance:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-frontliner:
    'Frontliner', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
