@theme {
  /* Custom width */
  --color-logo-object: var(--glacier-mist-900);
  --color-logo-text: var(--white);

  /* COLOR PALETTE */
  --color-mauve: #91757b;
  --color-cultured: #f5f5f3;

  --color-white: var(--white);
  --color-black: var(--black);
  --color-midnight-fjord: var(--midnight-fjord);
  --color-aurora-moss: var(--aurora-moss);
  --color-blush-quartz: var(--blush-quartz);
  --color-canyon-clay: var(--canyon-clay);
  --color-canyon-clay---links: var(--canyon-clay---links);
  --color-pine-forge: var(--pine-forge);
  --color-glacier-mist-700: var(--glacier-mist-700);
  --color-glacier-mist-800: var(--glacier-mist-800);
  --color-glacier-mist-900: var(--glacier-mist-900);
  --color-potted-olive: var(--potted-olive);
  --color-app-dark-utility-1: var(--app---dark---utility-1);
  --color-app-dark-utility-2: var(--app---dark---utility-2);
  --color-app-dark-utility-3: var(--app---dark---utility-3);
  --color-app-dark-utility-4: var(--app---dark---utility-4);
  --color-app-dark-utility-5: var(--app---dark---utility-5);

  /* Font Sizes */
  --text-42: 42px;
  --text-13: 13px;
  --text-15: 15px;
  --text-17: 17px;
  --text-19: 19px;
  --text-22: 22px;
  --text-28: 28px;
  --text-38: 38px;
  --text-40: 40px;
  --text-44: 44px;
  --text-46: 46px;
  --text-54: 54px;
  --text-60: 60px;
  --text-72: 72px;

  /* letter-spacing */
  --tracking-1: -1.5px;

  /* Font Families */
  --font-primary:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-canela: 'Canela Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-alliance:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-frontliner:
    'Frontliner', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
