:root {
  /* COLOR PALETTE */
  --midnight-fjord: #0c1d31;
  --aurora-moss: #e6f59f;
  --blush-quartz: #ecd0d0;
  --glacier-mist-900: #e8e7e4;
  --white: #ffffff;
  --black: #000000;
  --canyon-clay: #bf9595;
  --pine-forge: #4d6356;
  --glacier-mist-700: #f6f6f5;
  --glacier-mist-800: #efefed;
  --potted-olive: #adbab0;
  --canyon-clay-links: #9c7979;
  --app-dark-utility-1: #223143;
  --app-dark-utility-2: #384555;
  --app-dark-utility-3: #67717c;
  --app-dark-utility-4: #90969c;
  --app-dark-utility-5: #e3e2df;

  /* SPACING SCALE */
  --12px: 12px;
  --12px-rem: 0.75rem;
  --14px: 14px;
  --14px-rem: 0.875rem;
  --0px: 0px;
  --0px-rem: 0rem;
  --1px: 1px;
  --1px-rem: 0.0625rem;
  --2px: 2px;
  --2px-rem: 0.125rem;
  --4px: 4px;
  --4px-rem: 0.25rem;
  --6px: 6px;
  --6px-rem: 0.375rem;
  --8px: 8px;
  --8px-rem: 0.5rem;
  --10px: 10px;
  --10px-rem: 0.625rem;
  --16px: 16px;
  --16px-rem: 1rem;
  --20px: 20px;
  --20px-rem: 1.25rem;
  --40px: 40px;
  --40px-rem: 2.5rem;
  --24px: 24px;
  --24px-rem: 1.5rem;
  --36px: 36px;
  --36px-rem: 2.25rem;
  --28px: 28px;
  --28px-rem: 1.75rem;
  --32px: 32px;
  --32px-rem: 2rem;
  --44px: 44px;
  --44px-rem: 2.75rem;
  --48px: 48px;
  --48px-rem: 3rem;
  --56px: 56px;
  --56px-rem: 3.5rem;
  --64px: 64px;
  --64px-rem: 4rem;
  --80px: 80px;
  --80px-rem: 5rem;
  --96px: 96px;
  --96px-rem: 6rem;
  --112px: 112px;
  --112px-rem: 7rem;
  --128px: 128px;
  --128px-rem: 8rem;
  --144px: 144px;
  --144px-rem: 9rem;
  --160px: 160px;
  --160px-rem: 10rem;
  --176px: 176px;
  --176px-rem: 11rem;
  --192px: 192px;
  --192px-rem: 12rem;
  --208px: 208px;
  --208px-rem: 13rem;
  --224px: 224px;
  --224px-rem: 14rem;
  --240px: 240px;
  --240px-rem: 15rem;
  --256px: 256px;
  --256px-rem: 16rem;
  --288px: 288px;
  --288px-rem: 18rem;
  --320px: 320px;
  --320px-rem: 20rem;
  --384px: 384px;
  --384px-rem: 24rem;
  --22px: 22px;
  --22px-rem: 1.375rem;

  /* TEXT SIZES */
  --10px: 10px;
  --10px-rem: 0.625rem;
  --14px: 14px;
  --14px-rem: 0.875rem;
  --16px: 16px;
  --16px-rem: 1rem;
  --18px: 18px;
  --18px-rem: 1.125rem;
  --20px: 20px;
  --20px-rem: 1.25rem;
  --24px: 24px;
  --24px-rem: 1.5rem;
  --30px: 30px;
  --30px-rem: 1.875rem;
  --36px: 36px;
  --36px-rem: 2.25rem;
  --48px: 48px;
  --48px-rem: 3rem;
  --60px: 60px;
  --60px-rem: 3.75rem;
  --38px: 38px;
  --38px-rem: 2.375rem;
  --54px: 54px;
  --54px-rem: 3.375rem;
  --72px: 72px;
  --72px-rem: 4.5rem;
  --12px: 12px;
  --12px-rem: 0.75rem;
  --13px: 13px;
  --13px-rem: 0.8125rem;
  --11px: 11px;
  --11px-rem: 0.6875rem;

  /* LINE HEIGHTS */
  --12px: 12px;
  --12px-rem: 0.75rem;
  --21px: 21px;
  --21px-rem: 1.3125rem;
  --24px: 24px;
  --24px-rem: 1.5rem;
  --26px: 26px;
  --26px-rem: 1.625rem;
  --28px: 28px;
  --28px-rem: 1.75rem;
  --34px: 34px;
  --34px-rem: 2.125rem;
  --42px: 42px;
  --42px-rem: 2.625rem;
  --44px: 44px;
  --44px-rem: 2.75rem;
  --58px: 58px;
  --58px-rem: 3.625rem;
  --68px: 68px;
  --68px-rem: 4.25rem;
  --48px: 48px;
  --48px-rem: 3rem;
  --64px: 64px;
  --64px-rem: 4rem;
  --70px: 70px;
  --70px-rem: 4.375rem;
  --80px: 80px;
  --80px-rem: 5rem;
  --18px: 18px;
  --18px-rem: 1.125rem;
  --16px: 16px;
  --16px-rem: 1rem;
  --14px: 14px;
  --14px-rem: 0.875rem;

  /* LETTER SPACING */
  --xxl: 0.1px;
  --xxl-rem: 0.0063rem;
  --xl: 0px;
  --xl-rem: 0rem;
  --l: -0.3px;
  --l-rem: -0.0187rem;
  --m: 0.4px;
  --m-rem: 0.025rem;
  --s: -0.8px;
  --s-rem: -0.05rem;
  --xs: -1.2px;
  --xs-rem: -0.075rem;
  --xxs: -1.5px;
  --xxs-rem: -0.0937rem;
  --smallcaps: 0.4px;
  --smallcaps-rem: 0.025rem;

  /* TYPOGRAPHY */
  --text-xs-font-family-sm-360px: var(--alliance);
  --text-xs-font-family-md-768px: var(--alliance);
  --text-xs-font-family-lg-1024px: var(--alliance);
  --text-xs-font-family-xl-1280px: var(--alliance);
  --text-xs-font-size-sm-360px: var(--10px);
  --text-xs-font-size-md-768px: var(--10px);
  --text-xs-font-size-lg-1024px: var(--10px);
  --text-xs-font-size-xl-1280px: var(--12px);
  --text-xs-line-height-sm-360px: var(--14px);
  --text-xs-line-height-md-768px: var(--14px);
  --text-xs-line-height-lg-1024px: var(--14px);
  --text-xs-line-height-xl-1280px: var(--16px);
  --text-xs-letter-spacing-sm-360px: var(--xl);
  --text-xs-letter-spacing-md-768px: var(--xl);
  --text-xs-letter-spacing-lg-1024px: var(--xl);
  --text-xs-letter-spacing-xl-1280px: var(--xl);
  --text-sm-font-family-sm-360px: var(--alliance);
  --text-sm-font-family-md-768px: var(--alliance);
  --text-sm-font-family-lg-1024px: var(--alliance);
  --text-sm-font-family-xl-1280px: var(--alliance);
  --text-sm-font-size-sm-360px: var(--10px);
  --text-sm-font-size-md-768px: var(--10px);
  --text-sm-font-size-lg-1024px: var(--12px);
  --text-sm-font-size-xl-1280px: var(--14px);
  --text-sm-line-height-sm-360px: var(--14px);
  --text-sm-line-height-md-768px: var(--14px);
  --text-sm-line-height-lg-1024px: var(--18px);
  --text-sm-line-height-xl-1280px: var(--21px);
  --text-sm-letter-spacing-sm-360px: var(--xl);
  --text-sm-letter-spacing-md-768px: var(--xl);
  --text-sm-letter-spacing-lg-1024px: var(--xl);
  --text-sm-letter-spacing-xl-1280px: var(--xl);
  --text-base-font-family-sm-360px: var(--alliance);
  --text-base-font-family-md-768px: var(--alliance);
  --text-base-font-family-lg-1024px: var(--alliance);
  --text-base-font-family-xl-1280px: var(--alliance);
  --text-base-font-size-sm-360px: var(--14px);
  --text-base-font-size-md-768px: var(--14px);
  --text-base-font-size-lg-1024px: var(--14px);
  --text-base-font-size-xl-1280px: var(--16px);
  --text-base-line-height-sm-360px: var(--21px);
  --text-base-line-height-md-768px: var(--21px);
  --text-base-line-height-lg-1024px: var(--21px);
  --text-base-line-height-xl-1280px: var(--24px);
  --text-base-letter-spacing-sm-360px: var(--xl);
  --text-base-letter-spacing-md-768px: var(--xl);
  --text-base-letter-spacing-lg-1024px: var(--xl);
  --text-base-letter-spacing-xl-1280px: var(--xl);
  --text-lg-font-family-sm-360px: var(--alliance);
  --text-lg-font-family-md-768px: var(--alliance);
  --text-lg-font-family-lg-1024px: var(--alliance);
  --text-lg-font-family-xl-1280px: var(--alliance);
  --text-lg-font-size-sm-360px: var(--14px);
  --text-lg-font-size-md-768px: var(--14px);
  --text-lg-font-size-lg-1024px: var(--16px);
  --text-lg-font-size-xl-1280px: var(--18px);
  --text-lg-line-height-sm-360px: var(--21px);
  --text-lg-line-height-md-768px: var(--21px);
  --text-lg-line-height-lg-1024px: var(--24px);
  --text-lg-line-height-xl-1280px: var(--26px);
  --text-lg-letter-spacing-sm-360px: var(--xl);
  --text-lg-letter-spacing-md-768px: var(--xl);
  --text-lg-letter-spacing-lg-1024px: var(--xl);
  --text-lg-letter-spacing-xl-1280px: var(--xl);
  --text-xl-font-family-sm-360px: var(--alliance);
  --text-xl-font-family-md-768px: var(--alliance);
  --text-xl-font-family-lg-1024px: var(--alliance);
  --text-xl-font-family-xl-1280px: var(--alliance);
  --text-xl-font-size-sm-360px: var(--14px);
  --text-xl-font-size-md-768px: var(--16px);
  --text-xl-font-size-lg-1024px: var(--18px);
  --text-xl-font-size-xl-1280px: var(--20px);
  --text-xl-line-height-sm-360px: 18px;
  --text-xl-line-height-rem-sm-360px: 1.125rem;
  --text-xl-line-height-md-768px: var(--24px);
  --text-xl-line-height-lg-1024px: var(--26px);
  --text-xl-line-height-xl-1280px: var(--28px);
  --text-xl-letter-spacing-sm-360px: var(--xl);
  --text-xl-letter-spacing-md-768px: var(--xl);
  --text-xl-letter-spacing-lg-1024px: var(--xl);
  --text-xl-letter-spacing-xl-1280px: var(--xl);
  --text-2xl-font-family-sm-360px: var(--alliance);
  --text-2xl-font-family-md-768px: var(--alliance);
  --text-2xl-font-family-lg-1024px: var(--alliance);
  --text-2xl-font-family-xl-1280px: var(--alliance);
  --text-2xl-font-size-sm-360px: var(--16px);
  --text-2xl-font-size-md-768px: var(--18px);
  --text-2xl-font-size-lg-1024px: var(--20px);
  --text-2xl-font-size-xl-1280px: var(--24px);
  --text-2xl-line-height-sm-360px: var(--21px);
  --text-2xl-line-height-md-768px: var(--26px);
  --text-2xl-line-height-lg-1024px: var(--28px);
  --text-2xl-line-height-xl-1280px: 30px;
  --text-2xl-line-height-rem-xl-1280px: 1.875rem;
  --text-2xl-letter-spacing-sm-360px: var(--xl);
  --text-2xl-letter-spacing-md-768px: var(--xl);
  --text-2xl-letter-spacing-lg-1024px: var(--xl);
  --text-2xl-letter-spacing-xl-1280px: var(--xl);
  --text-3xl-font-family-sm-360px: var(--alliance);
  --text-3xl-font-family-md-768px: var(--alliance);
  --text-3xl-font-family-lg-1024px: var(--alliance);
  --text-3xl-font-family-xl-1280px: var(--alliance);
  --text-3xl-font-size-sm-360px: var(--18px);
  --text-3xl-font-size-md-768px: var(--20px);
  --text-3xl-font-size-lg-1024px: var(--24px);
  --text-3xl-font-size-xl-1280px: var(--30px);
  --text-3xl-line-height-sm-360px: var(--26px);
  --text-3xl-line-height-md-768px: var(--28px);
  --text-3xl-line-height-lg-1024px: var(--34px);
  --text-3xl-line-height-xl-1280px: var(--42px);
  --text-3xl-letter-spacing-sm-360px: var(--xl);
  --text-3xl-letter-spacing-md-768px: var(--xl);
  --text-3xl-letter-spacing-lg-1024px: var(--xl);
  --text-3xl-letter-spacing-xl-1280px: var(--xl);
  --text-4xl-font-family-sm-360px: var(--alliance);
  --text-4xl-font-family-md-768px: var(--alliance);
  --text-4xl-font-family-lg-1024px: var(--alliance);
  --text-4xl-font-family-xl-1280px: var(--alliance);
  --text-4xl-font-size-sm-360px: var(--36px);
  --text-4xl-font-size-md-768px: var(--36px);
  --text-4xl-font-size-lg-1024px: var(--36px);
  --text-4xl-font-size-xl-1280px: var(--36px);
  --text-4xl-line-height-sm-360px: var(--44px);
  --text-4xl-line-height-md-768px: var(--44px);
  --text-4xl-line-height-lg-1024px: var(--44px);
  --text-4xl-line-height-xl-1280px: var(--44px);
  --text-4xl-letter-spacing-sm-360px: var(--l);
  --text-4xl-letter-spacing-md-768px: var(--l);
  --text-4xl-letter-spacing-lg-1024px: var(--l);
  --text-4xl-letter-spacing-xl-1280px: var(--l);
  --text-5xl-font-family-sm-360px: var(--alliance);
  --text-5xl-font-family-md-768px: var(--alliance);
  --text-5xl-font-family-lg-1024px: var(--alliance);
  --text-5xl-font-family-xl-1280px: var(--alliance);
  --text-5xl-font-size-sm-360px: var(--48px);
  --text-5xl-font-size-md-768px: var(--48px);
  --text-5xl-font-size-lg-1024px: var(--48px);
  --text-5xl-font-size-xl-1280px: var(--48px);
  --text-5xl-line-height-sm-360px: var(--58px);
  --text-5xl-line-height-md-768px: var(--58px);
  --text-5xl-line-height-lg-1024px: var(--58px);
  --text-5xl-line-height-xl-1280px: var(--58px);
  --text-5xl-letter-spacing-sm-360px: var(--m);
  --text-5xl-letter-spacing-md-768px: var(--m);
  --text-5xl-letter-spacing-lg-1024px: var(--m);
  --text-5xl-letter-spacing-xl-1280px: var(--m);
  --text-6xl-font-family-sm-360px: var(--alliance);
  --text-6xl-font-family-md-768px: var(--alliance);
  --text-6xl-font-family-lg-1024px: var(--alliance);
  --text-6xl-font-family-xl-1280px: var(--alliance);
  --text-6xl-font-size-sm-360px: var(--60px);
  --text-6xl-font-size-md-768px: var(--60px);
  --text-6xl-font-size-lg-1024px: var(--60px);
  --text-6xl-font-size-xl-1280px: var(--60px);
  --text-6xl-line-height-sm-360px: var(--68px);
  --text-6xl-line-height-md-768px: var(--68px);
  --text-6xl-line-height-lg-1024px: var(--68px);
  --text-6xl-line-height-xl-1280px: var(--68px);
  --text-6xl-letter-spacing-sm-360px: var(--m);
  --text-6xl-letter-spacing-md-768px: var(--m);
  --text-6xl-letter-spacing-lg-1024px: var(--m);
  --text-6xl-letter-spacing-xl-1280px: var(--m);
  --text-7xl-canela-font-family-sm-360px: var(--canela);
  --text-7xl-canela-font-family-md-768px: var(--canela);
  --text-7xl-canela-font-family-lg-1024px: var(--canela);
  --text-7xl-canela-font-family-xl-1280px: var(--canela);
  --text-7xl-canela-font-size-sm-360px: var(--24px);
  --text-7xl-canela-font-size-md-768px: var(--24px);
  --text-7xl-canela-font-size-lg-1024px: var(--30px);
  --text-7xl-canela-font-size-xl-1280px: var(--38px);
  --text-7xl-canela-line-height-sm-360px: 30px;
  --text-7xl-canela-line-height-rem-sm-360px: 1.875rem;
  --text-7xl-canela-line-height-md-768px: var(--28px);
  --text-7xl-canela-line-height-lg-1024px: var(--42px);
  --text-7xl-canela-line-height-xl-1280px: var(--44px);
  --text-7xl-canela-letter-spacing-sm-360px: var(--s);
  --text-7xl-canela-letter-spacing-md-768px: var(--s);
  --text-7xl-canela-letter-spacing-lg-1024px: var(--s);
  --text-7xl-canela-letter-spacing-xl-1280px: var(--xs);
  --text-8xl-canela-font-family-sm-360px: var(--canela);
  --text-8xl-canela-font-family-md-768px: var(--canela);
  --text-8xl-canela-font-family-lg-1024px: var(--canela);
  --text-8xl-canela-font-family-xl-1280px: var(--canela);
  --text-8xl-canela-font-size-sm-360px: var(--30px);
  --text-8xl-canela-font-size-md-768px: var(--36px);
  --text-8xl-canela-font-size-lg-1024px: var(--38px);
  --text-8xl-canela-font-size-xl-1280px: var(--48px);
  --text-8xl-canela-line-height-sm-360px: var(--34px);
  --text-8xl-canela-line-height-md-768px: var(--44px);
  --text-8xl-canela-line-height-lg-1024px: var(--48px);
  --text-8xl-canela-line-height-xl-1280px: var(--58px);
  --text-8xl-canela-letter-spacing-sm-360px: var(--s);
  --text-8xl-canela-letter-spacing-md-768px: var(--xs);
  --text-8xl-canela-letter-spacing-lg-1024px: var(--xs);
  --text-8xl-canela-letter-spacing-xl-1280px: var(--xxs);
  --text-9xl-canela-font-family-sm-360px: var(--canela);
  --text-9xl-canela-font-family-md-768px: var(--canela);
  --text-9xl-canela-font-family-lg-1024px: var(--canela);
  --text-9xl-canela-font-family-xl-1280px: var(--canela);
  --text-9xl-canela-font-size-sm-360px: var(--48px);
  --text-9xl-canela-font-size-md-768px: var(--48px);
  --text-9xl-canela-font-size-lg-1024px: var(--48px);
  --text-9xl-canela-font-size-xl-1280px: var(--54px);
  --text-9xl-canela-line-height-sm-360px: var(--58px);
  --text-9xl-canela-line-height-md-768px: var(--58px);
  --text-9xl-canela-line-height-lg-1024px: var(--58px);
  --text-9xl-canela-line-height-xl-1280px: var(--64px);
  --text-9xl-canela-letter-spacing-sm-360px: var(--xxs);
  --text-9xl-canela-letter-spacing-md-768px: var(--xxs);
  --text-9xl-canela-letter-spacing-lg-1024px: var(--xxs);
  --text-9xl-canela-letter-spacing-xl-1280px: var(--xxs);
  --text-10xl-canela-font-family-sm-360px: var(--canela);
  --text-10xl-canela-font-family-md-768px: var(--canela);
  --text-10xl-canela-font-family-lg-1024px: var(--canela);
  --text-10xl-canela-font-family-xl-1280px: var(--canela);
  --text-10xl-canela-font-size-sm-360px: var(--36px);
  --text-10xl-canela-font-size-md-768px: var(--48px);
  --text-10xl-canela-font-size-lg-1024px: var(--54px);
  --text-10xl-canela-font-size-xl-1280px: var(--60px);
  --text-10xl-canela-line-height-sm-360px: var(--42px);
  --text-10xl-canela-line-height-md-768px: var(--58px);
  --text-10xl-canela-line-height-lg-1024px: var(--64px);
  --text-10xl-canela-line-height-xl-1280px: var(--70px);
  --text-10xl-canela-letter-spacing-sm-360px: var(--xs);
  --text-10xl-canela-letter-spacing-md-768px: var(--xxs);
  --text-10xl-canela-letter-spacing-lg-1024px: var(--xxs);
  --text-10xl-canela-letter-spacing-xl-1280px: var(--xxs);
  --text-11xl-canela-font-family-sm-360px: var(--canela);
  --text-11xl-canela-font-family-md-768px: var(--canela);
  --text-11xl-canela-font-family-lg-1024px: var(--canela);
  --text-11xl-canela-font-family-xl-1280px: var(--canela);
  --text-11xl-canela-font-size-sm-360px: var(--72px);
  --text-11xl-canela-font-size-md-768px: var(--72px);
  --text-11xl-canela-font-size-lg-1024px: var(--72px);
  --text-11xl-canela-font-size-xl-1280px: var(--72px);
  --text-11xl-canela-line-height-sm-360px: var(--80px);
  --text-11xl-canela-line-height-md-768px: var(--80px);
  --text-11xl-canela-line-height-lg-1024px: var(--80px);
  --text-11xl-canela-line-height-xl-1280px: var(--80px);
  --text-11xl-canela-letter-spacing-sm-360px: var(--xxs);
  --text-11xl-canela-letter-spacing-md-768px: var(--xxs);
  --text-11xl-canela-letter-spacing-lg-1024px: var(--xxs);
  --text-11xl-canela-letter-spacing-xl-1280px: var(--xxs);
  --docs-sidebar-links-font-family-sm-360px: var(--alliance);
  --docs-sidebar-links-font-family-md-768px: var(--alliance);
  --docs-sidebar-links-font-family-lg-1024px: var(--alliance);
  --docs-sidebar-links-font-family-xl-1280px: var(--alliance);
  --docs-sidebar-links-font-size-sm-360px: var(--12px);
  --docs-sidebar-links-font-size-md-768px: var(--12px);
  --docs-sidebar-links-font-size-lg-1024px: var(--12px);
  --docs-sidebar-links-font-size-xl-1280px: var(--13px);
  --docs-sidebar-links-line-height-sm-360px: var(--14px);
  --docs-sidebar-links-line-height-md-768px: var(--14px);
  --docs-sidebar-links-line-height-lg-1024px: var(--16px);
  --docs-sidebar-links-line-height-xl-1280px: var(--18px);
  --docs-sidebar-links-letter-spacing-sm-360px: var(--xl);
  --docs-sidebar-links-letter-spacing-md-768px: var(--xl);
  --docs-sidebar-links-letter-spacing-lg-1024px: var(--xl);
  --docs-sidebar-links-letter-spacing-xl-1280px: var(--xl);
  --docs-sidebar-headings-font-family-sm-360px: var(--alliance);
  --docs-sidebar-headings-font-family-md-768px: var(--alliance);
  --docs-sidebar-headings-font-family-lg-1024px: var(--alliance);
  --docs-sidebar-headings-font-family-xl-1280px: var(--alliance);
  --docs-sidebar-headings-font-size-sm-360px: 11px;
  --docs-sidebar-headings-font-size-rem-sm-360px: 0.6875rem;
  --docs-sidebar-headings-font-size-md-768px: 11px;
  --docs-sidebar-headings-font-size-rem-md-768px: 0.6875rem;
  --docs-sidebar-headings-font-size-lg-1024px: 10px;
  --docs-sidebar-headings-font-size-rem-lg-1024px: 0.625rem;
  --docs-sidebar-headings-font-size-xl-1280px: 11px;
  --docs-sidebar-headings-font-size-rem-xl-1280px: 0.6875rem;
  --docs-sidebar-headings-line-height-sm-360px: 16px;
  --docs-sidebar-headings-line-height-rem-sm-360px: 1rem;
  --docs-sidebar-headings-line-height-md-768px: 16px;
  --docs-sidebar-headings-line-height-rem-md-768px: 1rem;
  --docs-sidebar-headings-line-height-lg-1024px: 16px;
  --docs-sidebar-headings-line-height-rem-lg-1024px: 1rem;
  --docs-sidebar-headings-line-height-xl-1280px: 16px;
  --docs-sidebar-headings-line-height-rem-xl-1280px: 1rem;
  --docs-sidebar-headings-letter-spacing-sm-360px: 0.5px;
  --docs-sidebar-headings-letter-spacing-rem-sm-360px: 0.0313rem;
  --docs-sidebar-headings-letter-spacing-md-768px: 0.5px;
  --docs-sidebar-headings-letter-spacing-rem-md-768px: 0.0313rem;
  --docs-sidebar-headings-letter-spacing-lg-1024px: 0.5px;
  --docs-sidebar-headings-letter-spacing-rem-lg-1024px: 0.0313rem;
  --docs-sidebar-headings-letter-spacing-xl-1280px: 0.5px;
  --docs-sidebar-headings-letter-spacing-rem-xl-1280px: 0.0313rem;
  --docs-article-body-font-family-sm-360px: var(--alliance);
  --docs-article-body-font-family-md-768px: var(--alliance);
  --docs-article-body-font-family-lg-1024px: var(--alliance);
  --docs-article-body-font-family-xl-1280px: var(--alliance);
  --docs-article-body-font-size-sm-360px: var(--14px);
  --docs-article-body-font-size-md-768px: var(--14px);
  --docs-article-body-font-size-lg-1024px: var(--14px);
  --docs-article-body-font-size-xl-1280px: var(--16px);
  --docs-article-body-line-height-sm-360px: var(--21px);
  --docs-article-body-line-height-md-768px: var(--21px);
  --docs-article-body-line-height-lg-1024px: var(--21px);
  --docs-article-body-line-height-xl-1280px: var(--24px);
  --docs-article-body-letter-spacing-sm-360px: var(--xl);
  --docs-article-body-letter-spacing-md-768px: var(--xl);
  --docs-article-body-letter-spacing-lg-1024px: var(--xl);
  --docs-article-body-letter-spacing-xl-1280px: var(--xl);
  --docs-article-body-list-spacing-sm-360px: var(--6px);
  --docs-article-body-list-spacing-md-768px: var(--8px);
  --docs-article-body-list-spacing-lg-1024px: var(--10px);
  --docs-article-body-list-spacing-xl-1280px: var(--12px);
  --docs-article-body-paragraph-spacing-sm-360px: var(--4px);
  --docs-article-body-paragraph-spacing-md-768px: var(--6px);
  --docs-article-body-paragraph-spacing-lg-1024px: var(--8px);
  --docs-article-body-paragraph-spacing-xl-1280px: var(--10px);
  --text-base-paragraph-spacing-sm-360px: var(--4px);
  --text-base-paragraph-spacing-md-768px: var(--6px);
  --text-base-paragraph-spacing-lg-1024px: var(--8px);
  --text-base-paragraph-spacing-xl-1280px: var(--10px);
  --text-base-list-spacing-sm-360px: var(--6px);
  --text-base-list-spacing-md-768px: var(--8px);
  --text-base-list-spacing-lg-1024px: var(--10px);
  --text-base-list-spacing-xl-1280px: var(--12px);
  --text-lg-paragraph-spacing-sm-360px: var(--4px);
  --text-lg-paragraph-spacing-md-768px: var(--6px);
  --text-lg-paragraph-spacing-lg-1024px: var(--8px);
  --text-lg-paragraph-spacing-xl-1280px: var(--10px);
  --text-lg-list-spacing-sm-360px: var(--6px);
  --text-lg-list-spacing-md-768px: var(--8px);
  --text-lg-list-spacing-lg-1024px: var(--10px);
  --text-lg-list-spacing-xl-1280px: var(--12px);
  --font-size-sm-360px: var(--10px);
  --font-size-md-768px: var(--14px);
  --font-size-lg-1024px: var(--14px);
  --font-size-xl-1280px: var(--16px);
  --font-size-sm-360px: var(--10px);
  --font-size-md-768px: var(--14px);
  --font-size-lg-1024px: var(--14px);
  --font-size-xl-1280px: var(--16px);
  --font-size-sm-360px: var(--10px);
  --font-size-md-768px: var(--14px);
  --font-size-lg-1024px: var(--14px);
  --font-size-xl-1280px: var(--16px);
  --font-size-sm-360px: var(--10px);
  --font-size-md-768px: var(--14px);
  --font-size-lg-1024px: var(--14px);
  --font-size-xl-1280px: var(--16px);
  ---sm-360px: var(--10px);
  ---md-768px: var(--14px);
  ---lg-1024px: var(--14px);
  ---xl-1280px: var(--16px);
  --text-smallcaps-font-family-sm-360px: var(--alliance);
  --text-smallcaps-font-family-md-768px: var(--alliance);
  --text-smallcaps-font-family-lg-1024px: var(--alliance);
  --text-smallcaps-font-family-xl-1280px: var(--alliance);
  --text-smallcaps-font-size-sm-360px: var(--12px);
  --text-smallcaps-font-size-md-768px: var(--12px);
  --text-smallcaps-font-size-lg-1024px: var(--12px);
  --text-smallcaps-font-size-xl-1280px: var(--12px);
  --text-smallcaps-line-height-sm-360px: var(--18px);
  --text-smallcaps-line-height-md-768px: var(--18px);
  --text-smallcaps-line-height-lg-1024px: var(--18px);
  --text-smallcaps-line-height-xl-1280px: var(--18px);
  --text-smallcaps-letter-spacing-sm-360px: var(--smallcaps);
  --text-smallcaps-letter-spacing-md-768px: var(--smallcaps);
  --text-smallcaps-letter-spacing-lg-1024px: var(--smallcaps);
  --text-smallcaps-letter-spacing-xl-1280px: var(--smallcaps);
  --text-article-body-font-family-sm-360px: var(--alliance);
  --text-article-body-font-family-md-768px: var(--alliance);
  --text-article-body-font-family-lg-1024px: var(--alliance);
  --text-article-body-font-family-xl-1280px: var(--alliance);
  --text-article-body-font-size-sm-360px: var(--14px);
  --text-article-body-font-size-md-768px: var(--14px);
  --text-article-body-font-size-lg-1024px: var(--16px);
  --text-article-body-font-size-xl-1280px: var(--18px);
  --text-article-body-line-height-sm-360px: var(--21px);
  --text-article-body-line-height-md-768px: var(--21px);
  --text-article-body-line-height-lg-1024px: var(--24px);
  --text-article-body-line-height-xl-1280px: var(--28px);
  --text-article-body-letter-spacing-sm-360px: var(--xl);
  --text-article-body-letter-spacing-md-768px: var(--xl);
  --text-article-body-letter-spacing-lg-1024px: var(--xl);
  --text-article-body-letter-spacing-xl-1280px: var(--xl);
  --text-article-body-list-spacing-sm-360px: var(--8px);
  --text-article-body-list-spacing-md-768px: var(--8px);
  --text-article-body-list-spacing-lg-1024px: var(--10px);
  --text-article-body-list-spacing-xl-1280px: var(--10px);
  --text-article-body-paragraph-spacing-sm-360px: var(--8px);
  --text-article-body-paragraph-spacing-md-768px: var(--6px);
  --text-article-body-paragraph-spacing-lg-1024px: var(--8px);
  --text-article-body-paragraph-spacing-xl-1280px: var(--10px);
  --app-body-font-family-sm-360px: var(--alliance);
  --app-body-font-family-md-768px: var(--alliance);
  --app-body-font-family-lg-1024px: var(--alliance);
  --app-body-font-family-xl-1280px: var(--alliance);
  --app-body-font-size-sm-360px: var(--13px);
  --app-body-font-size-md-768px: var(--13px);
  --app-body-font-size-lg-1024px: var(--13px);
  --app-body-font-size-xl-1280px: var(--13px);
  --app-body-line-height-sm-360px: var(--18px);
  --app-body-line-height-md-768px: var(--18px);
  --app-body-line-height-lg-1024px: var(--18px);
  --app-body-line-height-xl-1280px: var(--18px);
  --app-body-letter-spacing-sm-360px: var(--xl);
  --app-body-letter-spacing-md-768px: var(--xl);
  --app-body-letter-spacing-lg-1024px: var(--xl);
  --app-body-letter-spacing-xl-1280px: var(--xl);
  --app-body-list-spacing-sm-360px: var(--6px);
  --app-body-list-spacing-md-768px: var(--8px);
  --app-body-list-spacing-lg-1024px: var(--10px);
  --app-body-list-spacing-xl-1280px: var(--12px);
  --app-body-paragraph-spacing-sm-360px: var(--4px);
  --app-body-paragraph-spacing-md-768px: var(--6px);
  --app-body-paragraph-spacing-lg-1024px: var(--8px);
  --app-body-paragraph-spacing-xl-1280px: var(--10px);

  /* FONT FAMILIES */
  --alliance: 'Alliance No.1';
  --canela: 'Canela Text LC Web';
  --frontliner: 'Frontliner';

  /* BREAKPOINTS */
  --breakpoint-full-sm-360px: 360px;
  --breakpoint-full-rem-sm-360px: 22.5rem;
  --breakpoint-full-md-768px: 768px;
  --breakpoint-full-rem-md-768px: 48rem;
  --breakpoint-full-lg-1024px: 1024px;
  --breakpoint-full-rem-lg-1024px: 64rem;
  --breakpoint-full-xl-1280px: 1536px;
  --breakpoint-full-rem-xl-1280px: 96rem;
  --breakpoint-internal-sm-360px: 336px;
  --breakpoint-internal-rem-sm-360px: 21rem;
  --breakpoint-internal-md-768px: 724px;
  --breakpoint-internal-rem-md-768px: 45.25rem;
  --breakpoint-internal-lg-1024px: 976px;
  --breakpoint-internal-rem-lg-1024px: 61rem;
  --breakpoint-internal-xl-1280px: 1224px;
  --breakpoint-internal-rem-xl-1280px: 76.5rem;

  /* FONT WEIGHTS */
  --weight-regular: 'Regular';
  --weight-medium: 'Medium';
  --weight-semi-bold: 'SemiBold';

  /* RADIUS */
  --radius-none: 0px;
  --radius-none-rem: 0rem;
  --radius-lg: 9px;
  --radius-lg-rem: 0.5625rem;
  --radius-md: 6px;
  --radius-md-rem: 0.375rem;
  --radius-sm: 3px;
  --radius-sm-rem: 0.1875rem;

  /* 3. MODE */
  --base-foreground-light: var(--colors-foreground-light);
  --base-foreground-dark: var(--colors-foreground-dark);
}
