---
// import MobileTableOfContents from 'virtual:starlight/components/MobileTableOfContents';
import TableOfContents from 'virtual:starlight/components/TableOfContents';
---

{
  Astro.locals.starlightRoute.toc && (
    <>
      {/*
      <div class="lg:sl-hidden">
        <MobileTableOfContents />
      </div>
      */}
      <div class="right-sidebar-panel">
        <div class="sl-container">
          <TableOfContents />
        </div>
      </div>
    </>
  )
}
