---
import SearchButton from './SearchButton.astro';
import SearchModal from './SearchModal.astro';
---

<div class="search-container">
  <SearchButton class={Astro.props.class} />
  <SearchModal class={Astro.props.class} />
</div>

<style>
  .search-container {
    display: contents;
  }
</style>
