name: Quality Checks

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'env.example'
      - '.vscode/**'
  release:
    types: ['published']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_ENV: production
  BUN_CACHE: ~/.bun/install/cache

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache Dependencies
        id: cache-deps
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.BUN_CACHE }}
            **/node_modules
          key: ${{ runner.os }}-deps-${{ hashFiles('**/bun.lock', '**/package.json') }}

      - name: Install Dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: bun install

  lint:
    needs: install
    name: Lint & Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Restore Cache
        uses: actions/cache@v5
        with:
          path: |
            ${{ env.BUN_CACHE }}
            **/node_modules
          key: ${{ runner.os }}-deps-${{ hashFiles('**/bun.lock', '**/package.json') }}

      - name: Run Lint
        run: bun run lint

  build-and-push:
    permissions:
      contents: read
      packages: write
      id-token: write

    runs-on: ubuntu-latest
    needs: lint
    if: ${{ !failure() && !cancelled() }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/datum-cloud/milo-os-com
          tags: |
            type=ref,event=pr
            type=ref,event=branch
            type=ref,event=branch,suffix=-{{commit_date 'YYYYMMDD-HHmmss'}}
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=sha

      - name: Build Website
        id: push
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: production
